.wrapper {
	width: 350px;
	padding: 20px 0px 20px 0px;
}

@media only screen and (max-width: 400px) {
	.wrapper {
		width: 275px;
		padding: 40px 0px 40px 0px;
	}
}

@media only screen and (max-width: 600px) {
	.wrapper {
		width: 300px;
		padding: 40px 0px 40px 0px;
	}
}

@media only screen and (min-width: 800px) {
	.wrapper {
		width: 325px;
		padding: 30px 0px 30px 0px;
	}
}

@media only screen and (min-width: 1000px) {
	.wrapper {
		width: 350px;
		padding: 20px 0px 20px 0px;
	}
}

